<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="stylesheet" href="/views/main/index.css">
</head>

<body>
    <div class="header">
        <div id="mesh"></div>
        <h1>Immerse yourself <br> in the world of <br> 3D online shopping.</h1>
    </div>

    <div class="categories">
        <h1>Categories</h1>
        <div class="grid-container">
            <div class="tables zoom" onclick="listProducts('tables')">
                <h3 class="tables">Tables</h3>
                <img class="tables" src="/assets/images/tables.png">
            </div>
            <div class="chairs zoom" onclick="listProducts('chairs')">
                <h3 class="chairs">Chairs</h3>
                <img class="chairs" src="/assets/images/chairs.png">
            </div>
            <div class="beds zoom" onclick="listProducts('beds')">
                <h3 class="beds">Beds</h3>
                <img class="beds" src="/assets/images/beds.png">
            </div>
            <div class="sofas zoom" onclick="listProducts('sofas')">
                <h3 class="sofas">Sofas</h3>
                <img class="sofas" src="https://www.scriptonline.com/wcsstore/ScriptCAS/ALL/56101502SD00580/Transparent%20Background/Context-visualizer/820X530/Script-Online-Edge-2-Seater-Fab-Sofa-Dark-Blue-56101502SD00580-Context-Visualizer-Image-D-01.png">
            </div>
            <div class="wardrobes zoom" onclick="listProducts('wardrobes')">
                <h3 class="wardrobes">Wardrobes</h3>
                <img class="wardrobes" src="https://cdn.shopify.com/s/files/1/0044/0034/9273/products/Central_Wardrobe_Black_1024x1024@2x.png?v=1541970979">
            </div>
        </div>
    </div>


    <script src="/assets/scripts/three.min.js"></script>
    <script src="/assets/scripts/GLTFLoader.js"></script>
    <script src="/assets/scripts/OrbitControls.js"></script>
    <script src="/views/main/renderer.js"></script>
    <script src="/views/main/index.js"></script>

</body>

</html>