<!DOCTYPE html>
<html>

<head>
    <title>Details</title>
    <link rel="stylesheet" href="/views/details/details.css">
</head>

<body>

    <div id="orientCubeWrapper"></div>

    <div class="panel">
        <div id="partsContainer">
            <button type="button" class="collapsible">Parts</button>
            <div id="parts" class="content"></div>
        </div>
        <div id="paletteContainer">
            <button type="button" class="collapsible">Palette</button>
            <div id="palette" class="content"></div>
        </div>
    </div>

    <script src="/assets/scripts/three.min.js"></script>
    <script src="/assets/scripts/GLTFLoader.js"></script>
    <script src="/assets/scripts/OrbitControls.js"></script>
    <script src="/views/main/index.js"></script>
    <script src="/views/details/details.js"></script>
    <script src="/views/details/viewCube.js"></script>
    <script src="/views/details/renderer.js"></script>

</body>

</html>