.mainRenderer {
    border: grey solid 1px;
    border-radius: 2px;
}

.panel {
    float: left;
    width: 23%;
    height: 92vh;
    border-radius: 5px;
    padding: 15px;
    overflow-y: scroll;
}


/*view cube*/

#orientCubeWrapper {
    position: absolute;
    top: 2%;
    left: 26%;
    width: 130px;
    height: 130px;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: opacity 0.3s;
}

#orientCubeWrapper:hover {
    opacity: 1;
}


/*parts*/

.part {
    padding: 5px;
}

.part:hover {
    background-color: rgba(173, 216, 230, 0.801);
    cursor: pointer;
}

.part.active {
    background-color: gainsboro;
}


/*palette*/

.swatch {
    border: black solid 1px;
    border-radius: 50%;
    padding: 15px;
    margin-right: 5px;
    cursor: pointer;
}


/*collapsible*/

.collapsible {
    background-color: gainsboro;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: left;
    border: none;
    font-size: 100%;
    font-weight: bold;
}

.content {
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
    display: none;
    overflow: none;
}

.collapsible:after {
    content: "▼";
    float: right;
    margin-left: 5px;
}

.collapsible.active:after {
    content: '▲';
}